<html>

<head>
    <title>Chat WebSocket</title>
    <script type="text/javascript">
        var ws;
        function connect() {
            ws = new WebSocket('wss://dog-shit.herokuapp.com/chat');

            ws.onmessage = function (data) {
                console.log(data.data);
                var node = document.createElement("DIV");
                node.innerHTML = data.data;
                document.getElementById("textarea").appendChild(node);
                // console.log(data);
            }
            ws.onclose = function () {
                console.log('Closed')
            }

            ws.onerror = function () {
                console.log('error')
            }
        }

        function send() {
            ws.send(document.getElementById("msg").value);
        }


    </script>
</head>

<body onload="connect()">
    <div>

        <button id="connect" onclick="send();">Connect</button>
        <input id="msg" type="text">
        <div id="textarea"></div>
    </div>

</body>

</html>